@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-amber-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.animate-wiggle {
  animation: wiggle 0.28s infinite;
}
.animate-wiggle-invert {
  animation: wiggle-invert 0.28s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(.4deg); }
   75% { transform: rotate(-.4deg); }
  100% { transform: rotate(0deg); }
}

@keyframes wiggle-invert {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(-.4deg); }
   75% { transform: rotate(.4deg); }
  100% { transform: rotate(0deg); }
}